<!DOCTYPE html>
<html lang="en">

<head>
    <title>Rfactor 2 tools</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <h3>Rfactor Tools Collection</h3>
                <p>These tools are managed by William Dunbar (william@wdcoding.com)</p>
            </div>
            <div class="col-md-4"></div>
        </div>
    </div>

    <div class="container">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <h2>Security:</h2> While efforts have been taken to ensure this site works as safe as possible,
                    please do not upload personally identifiable information (PII) because data on this site is NOT
                    encrypted.
                    This site does not store any data. These are just tools I wanted to let the great community of RF2
                    use.
                </div>
                <div class="col-md-4"></div>
            </div>
        </div>
        <br /><br />
        <div class="container">
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <h3>Rfactor 2 Overlay Tools</h3>
                    <ul class="list-group">
                        <li class="list-group-item"><a href="uploadstandings">Update Standings JSON with points</a></li>
                        <li class="list-group-item"><a href="uploadpenaltystandings">Adjust Standings for Penalties</a>
                        </li>
                        <li class="list-group-item"><a href="uploaddriver">Add New Driver to standings.json</a></li>
                    </ul>
                </div>
                <div class="col-md-4"></div>
            </div>
        </div>
</body>

</html>